<table class="table">
    <thead>
        <tr>
            <th>Test name</th>
            <th>Run test button</th>
            <th>Result time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SQL query counting</td>
            <td><button type="button"
                        class="btn"
                        (mouseup)="runCountSQLQueriesGeneratingTime()">
                    Start
                </button></td>
            <td>Inserting:{{InsertTime}}<br> Selecting:{{SelectTime}}<br> Deleting: {{DeleteTime}}</td>
        </tr>
        <tr>
            <td>Finding string in a text test</td>
            <td>
                <button type="button"
                        class="btn"
                        (mouseup)="runFindStringInText()">
                    Start
                </button>
            </td>
            <td>{{FindStringInTextTestTime}}</td>
        </tr>
        <tr>
            <td>Parsing object to JSON object</td>
            <td>
                <button type="button"
                        class="btn"
                        (mouseup)="runParseJsonObject()">
                    Start
                </button>
            </td>
            <td>{{ParseJsonObjectTime}}</td>
        </tr>
        <tr>
            <td>Resize image with 15k resolution</td>
            <td>
                <button type="button"
                        class="btn"
                        (mouseup)="runResizeImages()">
                    Start
                </button>
            </td>
            <td>{{ResizeImageTime}}</td>
        </tr>
        <tr>
            <td>Archive 500 files to zip file</td>
            <td>
                <button type="button"
                        class="btn"
                        (mouseup)="runZipFiles()">
                    Start
                </button>
            </td>
            <td>{{ZipFilesTime}}</td>
        </tr>
    </tbody>
</table> 