<div class="center">
  <form (submit)="loginUser()" id="loginForm">
    <div class="input">
      <label for="uname">Username:</label>
      <input type="text" 
             [(ngModel)]="userName"
             name="uname"/>
    </div>
    <div class="input">
      <label for="pwd">Password:</label>
      <input type="password" 
             [(ngModel)]="password"
             name="pwd" />
    </div>
    <div class="input">
      <input class="btn"
             type="submit"
             value="Login" />
    </div>
  </form>
  <button id="socialFb"
          class="btn btn-social-icon btn-facebook"
          (click)="signInWithFB()">
      <span class="fa fa-facebook"></span>
  </button>
</div>





