.footer {
    position: fixed;
    right: 20px;
    bottom: 0;
    height: 230px;
    margin: 5px;
    text-align: left;
}
th, td {
    border: 1px solid gray;
    padding: 5px;
    background-color: whitesmoke;
}

#inputAreaPanel {
    height: 100%;
    width: 500px;
    margin: auto;
}

#commentsShowArea {
    height: 850px;
    width: 60%;
    overflow-y: scroll;
}

#sendButton {
    float: right;
    padding: 2px 13px 2px 13px;
}

textarea {
    resize: none;
}
