<div id="commentsShowArea"> 
    <div class="panel panel-default">
         <div class="panel-heading">Comments</div>
         <div class="panel-body">
             <table>
                 <tr *ngFor="let comment of Comments">
                     <td>
                         <h4>
                             {{comment.Autor}}: {{comment.Title}}
                         </h4>
                            {{comment.CommentText}}
                     </td>
                 </tr>
             </table>
         </div>
      </div>
    </div>
  <div class="footer">
      <div class="panel panel-default" id="inputAreaPanel">
          <div class="panel-heading">
              <div>
                  <strong>{{loggedUserName}}</strong>
                  <button type="button" 
                          id="sendButton"
                          class="btn"
                          (mouseup)="send()">Send</button>
              </div>
          </div>
          <div class="panel-body">
              <label for="title">Title:</label>
              <input class="form-control form-inline"
                     rows="1" 
                     [(ngModel)]="commentTitle"
                     #title>

              <label for="comment">Comment:</label>
              <textarea class="form-control" 
                        rows="3" 
                        [(ngModel)]="commentText"
                        #comment></textarea>
          </div>
      </div>
  </div>
    